<div ng-controller="regCtrl">
    <div class="reg_container">
        <form class="reg_form" action="">
            <lable>Name:</lable>
            <input type="text" ng-model="name">
            <lable>Email:</lable>
            <input type="text" ng-model="email">
            <lable>Password:</lable>
            <input type="text" ng-model="password">

        </form>
      <!--  <input class="btn btn-primary" type="button" value="addUser" ng-click="add()">-->
        <button class="btn btn-primary" ng-click="add()">Reg</button>
    </div>

</div>
