<div class="store_item_wrapper">
    <div class="item_imageBG">
        <div class="item_imageCover">
            <a href="item.html"><img src="{{itm.img_url}}" alt=""></a>
        </div>
        <div class="item_bookHolderBG"></div>
    </div>
    <div class="item_desc">
        <div class="item_desc_title">{{itm.title}}</div>
        <div class="item_desc_text"><strong>By </strong>{{itm.by}}</div>
    </div>
    <div class="item_buttons">
        <button ng-class="{item_addToCart_btn : !itm.added}" ng-click="addToCart(itm, $index)">$<span class="item_price">{{itm.price}}</span><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
        <div ng-show="itm.added" class="item_added"><i class="fa fa-check" aria-hidden="true"></i> ADDED</div>
    </div>
</div>
